<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="add(10)">Add 10</button>
			<!-- 'v-on:' can be replaced with the @ shorthand, followed by the event -->
			<!-- 'v-bind:' can be replaced with the : shorthand, followed by the name of the attribute -->
      <button @click="reduce(5)">Subtract 5</button>
      <p>Result: {{ counter }}</p>
			<!-- v-bind:value + v-on:input can be replaced with the v-model directive -->
			<!-- This does the same thing, two-way binding the value -->
      <!-- <input type="text" v-bind:value="name" v-on:input="setName($event, 'Schwarzmüller')"> -->
			<input type="text" v-model="name">
			<input type="text" v-model="lastName">
			<button @click="resetInput">Reset input</button>
			<!-- Vue is not aware of what this method's execution does -->
			<!-- Any method in the html code will be reexecuted when anything on the page changes -->
			<!-- From a performance perspective, this is not ideal -->
      <!-- <p>Your Name: {{ outputFullName() }}</p> -->
			<!-- As we don't want to use logic in the html code, computed properties are used -->
			<!-- Important: no () after this, as they are used as a property -->
			<p>Your Name: {{ fullName }}</p>
    </section>
  </body>
</html>
